:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: 'Courier New', Monaco, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--sans);
  background: white;
  color: #333;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-family: var(--sans);
}

code {
  font-family: var(--mono);
}
